@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	background-color: white;
	font-family: 'Sofia Sans', sans-serif;
	scroll-behavior: smooth;
	
	font-weight: 400;
}

header {
	height: 60px;
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
	align-items: center;
}

.menu-button-container {
	display: none;
	height: 18px;
	width: 25px;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#menu-toggle {
	display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
	display: block;
	background-color: black;
	position: absolute;
	height: 2px;
	width: 25px;
	/* transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1); */
	border-radius: 2px;
}

.menu-button {
	width: 20px;
}

.menu-button::before {
	content: '';
	margin-top: -8px;
}

.menu-button::after {
	content: '';
	margin-top: 8px;
}

.icon {
	position: relative;
    width: 20px;
    height: 20px;
	margin-right: 10px;
}

.icon .circle {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #B9A16B;
	
	position: absolute;
	top: 45%;
	left: 65%;
	display: flex;
	justify-content: center;
	align-items: center;

	font-weight: 500;
	font-size: 10px;
	line-height: 14px;
	color: white;
}

.gallery .main-image button {
	width: 35px;
	height: 35px;
	border: none;
	position: absolute;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}

.zoom {
	right: 16px;
	bottom: 16px;
}

.left, .right {
	top: 50%;
	transform: translateY(-50%);
}

.left {
	left: 12px;
}

.right {
	right: 12px;
}

.thumbnail {
	padding: 15px;
	height: auto;
	max-width: 100%;
	display: flex;
	gap: 8px;
	justify-content: space-between;
	aspect-ratio: 3.45;
}

.thumbnail img {
	width: 100%;
	opacity: 0.5;
	/* aspect-ratio: 1/1; */
	object-fit: cover;
}

.thumbnail img.active {
	opacity: 1;
}

.info {
	padding: 15px;
}

.info .title {
	font-size: 20px;
	line-height: 27px;
}

.info .price {
	font-weight: 500;
	font-size: 22px;
	line-height: 30px;
	margin-top: 18px;
}

.info .small-description {
	font-size: 14px;
	line-height: 24px;
	margin-top: 27px;
}

.info .tab1 {
	height: 60px;
	margin-top: 35px;
	display: flex;
	justify-content: space-between;
}

.info .tab1 .quantity {
	border: 2px solid #E4E4E4;
	width: 116px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: #767676;

	size: 16px;
	line-height: 24px;
}

.info .tab1 .quantity button {
	border: none;
	width: 11px;
	color: #767676;
	background-color: transparent;

	size: 16px;
	line-height: 22px;
}

.info .tab1 .add-to-cart {
	border: none;
	background-color: #222;
	width: 248px;
	height: 100%;
	color: white;

	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
}

.info .tab2 {
	height: 29px;
	margin-top: 35px;
}

.info .technical-info {
	margin-top: 32px;
	font-size: 13px;
	line-height: 24px;
}

.info .technical-info span {
	text-transform: uppercase;
	color: #767676;
}

.tabs-desc {
	padding: 35px 15px;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #222222;
}

.tabs-desc .inner p:first-child {
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 2rem;
}

@media (max-width: 700px) {
	.menu-button-container {
		display: flex;
	}

	.main-image {
		position: relative;
		width: 100%;
		height: auto;
	}

	.main-image > img {
		width: 100%;
		height: auto;
	}
}